*

!.dockerignore
!pyproject.toml
!uv.lock

!docker/
!docker/airflow/
!docker/airflow/Dockerfile
!docker/airflow/load-env-and-run.sh

!airflow/
!airflow/dags/
!airflow/dags/**
!airflow/include/
!airflow/include/**
!airflow/simple_auth_manager_passwords.json

!docs/
!docs/source_profile.json

!infra/
!infra/**

!scripts/
!scripts/**

!streaming/
!streaming/nifi/
!streaming/nifi/**
!streaming/schemas/
!streaming/schemas/**

!dbt/
!dbt/olist_analytics/
!dbt/olist_analytics/analyses/
!dbt/olist_analytics/analyses/**
!dbt/olist_analytics/dbt_project.yml
!dbt/olist_analytics/macros/
!dbt/olist_analytics/macros/**
!dbt/olist_analytics/models/
!dbt/olist_analytics/models/**
!dbt/olist_analytics/package-lock.yml
!dbt/olist_analytics/packages.yml
!dbt/olist_analytics/profiles.yml.example
!dbt/olist_analytics/seeds/
!dbt/olist_analytics/seeds/**
!dbt/olist_analytics/snapshots/
!dbt/olist_analytics/snapshots/**
!dbt/olist_analytics/tests/
!dbt/olist_analytics/tests/**

**/__pycache__/
*.py[cod]
.env
.env.*
.idea/
.pytest_cache/
.ruff_cache/
.venv/
.vscode/
Thumbs.db
airflow/*.db
airflow/*.db-journal
airflow/logs/
airflow/plugins/
airflow/tmp_airflow_logs/
airflow/webserver_config.py
aws_credentials*
data/
dbt/olist_analytics/.user.yml
dbt/olist_analytics/dbt_packages/
dbt/olist_analytics/edr_target/
dbt/olist_analytics/logs/
dbt/olist_analytics/profiles.yml
dbt/olist_analytics/target/
logs/
olist.zip
venv/
*.key
*.pem
*.pyo
.DS_Store
