*

!.dockerignore
!pyproject.toml
!uv.lock

!docker/
!docker/airflow/
!docker/airflow/Dockerfile
!docker/airflow/load-env-and-run.sh
!docker/airflow/simple_auth_manager_passwords.json

!airflow/
!airflow/dags/
!airflow/dags/**
!airflow/include/
!airflow/include/**

!docs/
!docs/source_profile.json

!infra/
!infra/**

!scripts/
!scripts/**

!streaming/
!streaming/schemas/
!streaming/schemas/**

!dbt/
!dbt/olist_clickhouse/
!dbt/olist_clickhouse/**

**/__pycache__/
*.py[cod]
.env
.env.*
.idea/
.pytest_cache/
.ruff_cache/
.venv/
.vscode/
Thumbs.db
airflow/*.db
airflow/*.db-journal
airflow/logs/
airflow/plugins/
airflow/tmp_airflow_logs/
airflow/webserver_config.py
data/
dbt/olist_clickhouse/target/
dbt/olist_clickhouse/dbt_packages/
dbt/olist_clickhouse/edr_target/
dbt/olist_clickhouse/logs/
dbt/olist_clickhouse/.user.yml
logs/
olist.zip
venv/
*.key
*.pem
*.pyo
.DS_Store
