olist_analytics:
  target: "{{ env_var('DBT_TARGET', 'local_pg') }}"
  outputs:
    local_pg:
      type: postgres
      host: "{{ env_var('POSTGRES_HOST', 'localhost') }}"
      user: "{{ env_var('POSTGRES_USER', 'olist') }}"
      password: "{{ env_var('POSTGRES_PASSWORD', 'olist') }}"
      port: "{{ env_var('POSTGRES_PORT', 5432) | as_number }}"
      dbname: "{{ env_var('POSTGRES_DB', 'olist_analytics') }}"
      schema: analytics
      threads: 4
      connect_timeout: 10

    local_clickhouse:
      type: clickhouse
      driver: http
      host: "{{ env_var('CLICKHOUSE_HOST', 'localhost') }}"
      port: "{{ env_var('CLICKHOUSE_PORT', 8123) | as_number }}"
      user: "{{ env_var('CLICKHOUSE_USER', 'olist') }}"
      password: "{{ env_var('CLICKHOUSE_PASSWORD', 'olist') }}"
      schema: "{{ env_var('CLICKHOUSE_DATABASE', 'analytics') }}"
      secure: false
      verify: false
      threads: 4
      connect_timeout: 10
      send_receive_timeout: 300
      use_lw_deletes: false
      check_exchange: true
      custom_settings:
        join_use_nulls: 1

    redshift:
      type: redshift
      host: "{{ env_var('REDSHIFT_HOST') }}"
      user: "{{ env_var('REDSHIFT_USER') }}"
      password: "{{ env_var('REDSHIFT_PASSWORD') }}"
      port: "{{ env_var('REDSHIFT_PORT', 5439) | as_number }}"
      dbname: "{{ env_var('REDSHIFT_DATABASE') }}"
      schema: analytics
      threads: 4
      connect_timeout: 10
      sslmode: prefer

elementary:
  target: "{{ env_var('DBT_TARGET', 'local_pg') }}"
  outputs:
    local_pg:
      type: postgres
      host: "{{ env_var('POSTGRES_HOST', 'localhost') }}"
      user: "{{ env_var('POSTGRES_USER', 'olist') }}"
      password: "{{ env_var('POSTGRES_PASSWORD', 'olist') }}"
      port: "{{ env_var('POSTGRES_PORT', 5432) | as_number }}"
      dbname: "{{ env_var('POSTGRES_DB', 'olist_analytics') }}"
      schema: elementary
      threads: 4
      connect_timeout: 10

    local_clickhouse:
      type: clickhouse
      driver: http
      host: "{{ env_var('CLICKHOUSE_HOST', 'localhost') }}"
      port: "{{ env_var('CLICKHOUSE_PORT', 8123) | as_number }}"
      user: "{{ env_var('CLICKHOUSE_USER', 'olist') }}"
      password: "{{ env_var('CLICKHOUSE_PASSWORD', 'olist') }}"
      schema: elementary
      secure: false
      verify: false
      threads: 4
      connect_timeout: 10
      send_receive_timeout: 300
      use_lw_deletes: false
      check_exchange: true
      custom_settings:
        join_use_nulls: 1

    redshift:
      type: redshift
      host: "{{ env_var('REDSHIFT_HOST') }}"
      user: "{{ env_var('REDSHIFT_USER') }}"
      password: "{{ env_var('REDSHIFT_PASSWORD') }}"
      port: "{{ env_var('REDSHIFT_PORT', 5439) | as_number }}"
      dbname: "{{ env_var('REDSHIFT_DATABASE') }}"
      schema: elementary
      threads: 4
      connect_timeout: 10
      sslmode: prefer
