olist_clickhouse:
  target: "{{ env_var('DBT_TARGET', 'local_clickhouse') }}"
  outputs:
    local_clickhouse:
      type: clickhouse
      driver: http
      host: "{{ env_var('CLICKHOUSE_HOST', 'localhost') }}"
      port: "{{ env_var('CLICKHOUSE_PORT', 8123) | as_number }}"
      user: "{{ env_var('CLICKHOUSE_USER', 'olist') }}"
      password: "{{ env_var('CLICKHOUSE_PASSWORD') }}"
      schema: gold_store
      secure: false
      verify: false
      threads: 4
      connect_timeout: 10
      send_receive_timeout: 300
      use_lw_deletes: false
      check_exchange: true
      custom_settings:
        join_use_nulls: 1
        allow_suspicious_low_cardinality_types: 1
        session_timezone: UTC
